h1 {
  display: flex;
  justify-content: center;
  margin: 0px;
  font-family: 'Gloria Hallelujah', cursive;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
}

.rainbowButton {
  font-weight: bold;
}

.clearButton {
  font-weight: bold;
}

.flexContainer {
  display: flex;
  justify-content: center;
}

.gridContainer {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(N, 1fr);
  grid-template-rows: repeat(N, 1fr);
  border: 2px;
  border-style: groove;
  border-color: black;
}

.blocks {
  border: 1px;
  border-style: groove;
  border-color: black;
}